// mixin

@mixin flex($js,$ai){
    display: flex;
    justify-content: $js;
    align-items: $ai;
}

@mixin setFont($ff, $fw, $fs, $lh) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}